body {
    font-family: 'Nunito Sans', sans-serif;
    --cor-primaria: #0DAEBD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Menu- Header*/

.menu-logo {
    height: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.menu-content {
    display: flex;
    width: 100%;
    height: 10vh;
}

.cabecalho-menu {
    width: 100%;
}

.list-itens {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: end;
}

.menu-item {
    width: 25%;
    text-align: center;
    line-height: 10vh;
    color: #ffffff;
    background-color: var(--cor-primaria);
    border-radius: 0;
    box-shadow: none;
}

.menu-item a {
    display: block;
    font-size: 20px;
    text-decoration: none;
}

.menu-item button {
    font-size: 20px;
    color: #ffffff;
    background-color: var(--cor-primaria);
    cursor: pointer;
    width: 100%;
    text-transform: none;
}

.menu-item p {
    font-size: 20px;
}

.menu-item:hover {
    background-color: transparent;
    box-shadow: none;
}

.menu-item:hover button {
    background-color: rgba(217, 217, 217, 35%);
    color: var(--cor-primaria);
}

.menu-item:hover>a {
    background-color: rgba(217, 217, 217, 35%);
    color: var(--cor-primaria);
}

.menu-item .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.username:hover {
    background-color: rgba(217, 217, 217, 35%);
    color: var(--cor-primaria);
}

.active {
    background-color: rgba(217, 217, 217, 35%);
    color: var(--cor-primaria);
}

.notification {
    width: 5%;
    min-width: 70px;
}

.notification .fa-bell {
    position: relative;
    left: 13px;
}

.notification-count {
    position: relative;
    top: -20px;
    border-radius: 50%;
    background-color: #ff3547;
    color: #fff;
    font-size: 12px;
}

.notification:hover {
    color: var(--cor-primaria);
    cursor: pointer;
}

.dropdown-menu {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    cursor: default;
}

.dropdown-menu p {
    line-height: 30px;
}

.notification .dropdown-menu {
    max-height: 40%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 20%;
    cursor: default;
}

.notification p {
    font-size: 15px;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 0;
}

.notification-menu {
    display: initial !important;
    font-size: initial !important;
    text-decoration: underline !important;
}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

.menu-item:hover p {
    cursor: default;
}

@media (max-width: 1000px) {
    .username {
        display: none;
    }

    .menu-item {
        width: 100%;
    }
}

/* Content */

.form-group input,
.form-group select,
.form-group textarea {
    border: 2px var(--cor-primaria) solid;
    border-radius: 0.25rem;
}

.form-group label {
    color: var(--cor-primaria);
    font-weight: bold;
}

input[type="date"],
input[type="month"] {
    position: relative;
}

input[type="date"]:after,
input[type="month"]:after {
    content: "\1F4C5";
    color: #555;
    padding: 0 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-inner-spin-button {
    z-index: 1;
}

input[type="date"]::-webkit-clear-button,
input[type="month"]::-webkit-clear-button {
    z-index: 1;
}

textarea {
    resize: none;
}

a, a:hover {
    text-decoration: none;
}

.save-button {
    margin: 0 auto;
    align-self: center;
    background-color: var(--cor-primaria);
    width: 100%;
    height: 60px;
    border-radius: 0.25rem;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.save-button:hover {
    background-color: rgba(217, 217, 217, 35%);
    color: var(--cor-primaria);
}