.custom-file {
    display: flex;
    width: auto;
}

.custom-file-label {
    margin: 0 15px;
}

.custom-file-label {
    color: var(--cor-primaria);
    border: 2px var(--cor-primaria) solid;
    font-weight: bold;
}

.custom-file-label::after {
    content: "Contrato";
    height: 100%;
}